.tournament-list-wrap, .division-list-wrap, .game-list-wrap {
  margin-top: 1em;
}

.scorecard-view-container{
  width: 94%;
  margin: 0 auto;
  // background-color: rgba(255, 255, 255, 0.4);
  margin-top: 2em;
  padding: 1em;
  border-radius: .25em;

  article {
    border-radius: .25em;
    padding: 1em;
    background-color: rgba(240, 240, 240, 0.2);

    h2 {
      font-size: 1.5em;
      text-transform: capitalize;
      font-weight: bold;

      span {
        font-size: .8em;
        font-weight: normal;
      }
    }
  }
}

.scorecard-view-container{
  h2 {
    color: #dedede;
    }
}
