
.division-value {
  cursor: pointer;
  font-size: 1.25em;
  border-radius: .2em;
  background-color: #fff;
}

.division-list-wrap{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  line-height: 2.5em;
  text-indent: .5em;
  background-color: #eee;
  border-radius:  .25em;
}

.division-list{
  z-index: 9;
  position: absolute;
  width: 100%;
  cursor: pointer;
  max-height: 0;
  overflow: hidden;
  transition: 350ms;
}

.division-list.visible{
  max-height: 30vh;
  overflow: auto;
  transition: 350ms;
}

.division-item {
  cursor: pointer;
  background-color: #fff;
}

.division-item:nth-of-type(odd) {
  background-color: #eee;
}

.division-select-placeholder {
  color: #ccc;
}