.group-view{
  position: relative;
  margin-top: 1em;
  background-color: rgba(240, 240, 240, 0.4);
  box-sizing: border-box;
  padding: 1em;
  border-radius: .25em;
  max-height: 1000em;
  transition: 350ms;

  h3 {
    color: #fff;
    font-weight: normal;
  }
}

.group-view.collapsed {
  max-height: 2.5em;
  overflow: hidden;
  transition: 350ms;

  h3 {
    color: #333;
    font-weight: bold;
  }

}