
.team-value {
  cursor: pointer;
}

.team-list{
  cursor: pointer;
  max-height: 0;
  overflow: hidden;
  transition: 350ms;
}

.team-list.visible{
  max-height: 3em;
  overflow: auto;
  transition: 350ms;
}

.team-item {
  cursor: pointer;
}