@import './vars';

body {
  background-color: $primary-background-color;
  background: url('../images/night-soccer.jpg'), #c5a14e;
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: darken, overlay;
  background-attachment: fixed;
  background-size: cover;
}

