
.age-group-list-wrap {
  width: 50%;
  box-sizing: border-box;
  line-height: 2.5em;
  text-indent: .5em;
  //background-color: #eee;
  border-radius: .25em;
  margin-bottom: 1em;
  position: relative;
}

.age-group-label {
  font-weight: bold;
  line-height: 2em;
}

.age-group-value {
  cursor: default;
 // pointer-events: none;
  font-size: 1.25em;
  border-radius: .2em;
  background-color: transparent;
  border: 1px solid #ddd;
  //background-color: rgba(255,255,255, .3);
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;

}

.age-group-value.edit {
  cursor: pointer;
  border-color: transparent;
  pointer-events: all;
  background-color: #fff;
}

.age-group-list {
  z-index: 9;
  position: absolute;
  width: 100%;
  cursor: pointer;
  max-height: 0;
  overflow: hidden;
  transition: 350ms;
}

.age-group-list.visible {
  max-height: 30vh;
  overflow: auto;
  transition: 350ms;
}

.age-group-item {
  cursor: pointer;
  background-color: #fff;
}

.age-group-item:nth-of-type(odd) {
  background-color: #eee;
}

.age-group-select-placeholder {
  color: #ccc;
}